.Highlight {
  margin-top: 24px;

  &-advice {
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: #262626;
    border: 1px solid #e7e7e7;
    padding: 16px;
    margin-bottom: 24px;

    .icon-info {
      color: #923e01;
      height: 20px;
      width: 20px;
    }
    &-icon-container {
      position: relative;
      margin-right: 8px;
      padding: 8px;
      border-radius: 8px;
      background-color: rgb(255, 240, 224);
    }
  }
  &-city {
    &-container {
      display: flex;
      margin-bottom: 16px;

      .Highlight-city-card {
        width: 100%;
        position: relative;
        border-radius: 3px;
        // background: linear-gradient(
        //   to bottom,
        //   rgba(0, 27, 65, 0.65) 0,
        //   rgba(0, 27, 65, 0) 100%
        // );
        img {
          max-width: 100%;
          width: 100%;
          height: 270px;
          border-radius: 3px;
        }
        &-info {
          position: absolute;
          left: 16px;
          top: 16px;
          color: white;
          text-shadow: 1px 1px 1px #000;

          p {
            font-size: 32px;
            margin-bottom: 5px;
            font-weight: bold;
            line-height: 1;
          }
          span {
            font-size: 16px;
          }
        }
      }
    }
  }
  &-subscribe {
    display: flex;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
    padding: 16px;
    &-icon-container {
      background-color: $color-navy-blue;
      border-radius: 50%;
      margin-right: 16px;
      .icon-subscribe {
        height: 96px;
        width: 96px;
      }
    }
    &-content {
      h4 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
      p {
        margin-top: 8px;
      }
      flex-grow: 2;
      & > div {
        display: flex;
        justify-content: space-between;
        .icon-close {
          height: 24px;
          width: 24px;
          color: black;
        }
      }
      &-form {
        margin-top: 16px;
        input {
          margin-right: 8px;
          padding: 8px;
          cursor: pointer;
          width: 500px;
        }
        button {
          padding: 8px;
          color: $color-text-blue;
          background-color: white;
          border: 1px solid $color-text-blue;
          font-weight: 500;
          &:hover {
            background-color: #f6f8ff;
          }
        }
      }
    }
  }
}
.Highlight-city-card + .Highlight-city-card,
.Highlight-inspiration-content + .Highlight-inspiration-content {
  margin-left: 16px;
}

.Highlight-inspiration {
  margin-top: 32px;
  &-container {
    position: relative;
    display: flex;
    margin-bottom: 16px;
    .content-text-container {
      position: absolute;
      bottom: 16px;
      left: 16px;
      color: white;
      padding: 10px 10px 15px;
      display: table-cell;

      .content-title {
        text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        position: relative;
        z-index: 2;
      }
      .content-description {
        text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
        font-size: 16px;
        position: relative;
        z-index: 2;
      }
    }
  }

  &-content {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-left: 15px;
    border-radius: 3px;

    img {
      width: 100%;
      border-radius: 3px;
      transition: all 0.4s;
    }
    &:hover img {
      transform: scale(1.05);
      z-index: -1;
    }
  }
}

.Highlight-homes {
  margin-bottom: 32px;
  &-container {
    display: flex;
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  &-card {
    margin-right: 16px;
    width: calc(100% - 64px);

    img {
      height: 250px;
      width: 100%;
      border-radius: 3px;
    }
  }
  &-content {
    padding-top: 8px;
    padding-bottom: 8px;

    .home-name {
      color: #262626;
    }
    .home-subtitle {
      color: #6b6b6b;
      margin-top: 2px;
    }
    .home-bottom {
      display: flex;
      flex-direction: column;

      .home-price {
        margin-top: 8px;
        font-weight: bold;
      }
      .home-points {
        display: flex;
        align-items: center;
        margin-top: 8px;
        .points {
          background-color: $color-navy-blue;
          color: white;
          padding: 5px;
          border-radius: 3px;
          font-weight: 700;
        }
        p {
          font-weight: bold;
          color: #262626;
          margin-left: 8px;
        }
        small {
          color: #6b6b6b;
          font-size: 12px;
          margin-left: 8px;
        }
      }
    }
  }
}
